/* ✅ Styles Généraux */

.custom-button {
    margin-top: 1rem; /* mt-4 */
    background-color: #176b61; /* bg-[#176b61] */
    color: white; /* text-white */
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 0.375rem; /* rounded */
    transition: background-color 0.3s ease; /* pour un effet de transition en douceur */
}

.custom-button:hover {
    background-color: #145b50; /* hover:bg-[#145b50] */
}

/* ✅ Footer Styles */
.site-footer {
    background-color: #176b61;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;
}

.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

a:hover {
    background-color: #145b50;
    color: white;
}


#search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
}

#suggestions {
    position: absolute; /* Positionnement absolu par rapport à l'input */
    top: calc(100%); /* Positionne les suggestions juste sous l'input, sans espace */
    left: 0;
    right: 0;
    z-index: 20; /* Assurez-vous que les suggestions sont bien au-dessus des autres éléments */
    display: none; /* Par défaut caché */
    max-height: 200px; /* Limite de hauteur */
    overflow-y: auto; /* Défilement si trop de suggestions */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
form {
    position: relative;
    z-index: 20; /* Garder le formulaire au-dessus de l'overlay */
    margin: 0; /* Ajouter cette ligne pour éviter toute marge */
}

#suggestions div {
    padding: 8px;
    cursor: pointer; /* Curseur pointeur pour indiquer que c'est cliquable */
}

#suggestions div:hover {
    background-color: #f1f1f1; /* Changement de couleur au survol */
}

.hidden {
    display: none; /* Assurez-vous qu'elle fonctionne correctement */
}
